<div style="background: #010101;">
    <p class="topname">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; YUNICELL SERVER</p>
</div>
<div class="div1 container text-center">
    <div class="div1-1 ">
        <section class="div2 rounded row">
            <button class="button2" disabled><img src="/img/1.png" class=" rounded float-start responsive"></button>
            <button class="button2" disabled><img src="/img/2.png" class=" rounded float-start responsive"></button>
            <button class="button2" disabled><img src="/img/3.png" class=" rounded float-start responsive"></button>
            <button class="button2" disabled><img src="/img/4.png" class=" rounded float-start responsive"></button>
            <button class="button2" disabled><img src="/img/5.png" class=" rounded float-start responsive"></button>
            <button class="button2" disabled><img src="/img/6.png" class=" rounded float-start responsive"></button>
            <button class="button2" disabled><img src="/img/7.png" class=" rounded float-start responsive"></button>
            <button class="button2" disabled><img src="/img/8.png" class=" rounded float-start responsive"></button>
            <button class="button2" disabled><img src="/img/9.png" class=" rounded float-start responsive"></button>
            <button class="button2" disabled><img src="/img/10.png" class=" rounded float-start responsive"></button>
            <button class="button2" disabled><img src="/img/12.png" class=" rounded float-start responsive"></button>
            <button class="button2" disabled><img src="/img/13.png" class=" rounded float-start responsive"></button>
            <button class="button2" disabled><img src="/img/14.png" class=" rounded float-start responsive"></button>
            <button class="button2" disabled><img src="/img/15.png" class=" rounded float-start responsive"></button>
            <button class="button2" disabled><img src="/img/16.png" class=" rounded float-start responsive"></button>
        </section>

        <section class="div3">
            <div class="div4">
                <div class="div3">
                    <img src="/img/11.png" class=" rounded float-start responsive">
                </div>

                <div class="button1">
                    <button onclick="location.href='https://mega.nz/folder/8jN3SCqZ#E7Mf202pc-su2rqal0Ft_w'"
                        class="boton1">
                        INSTALADORES IOS
                    </button>
                    <button class="boton1-1" disabled>
                        Help
                    </button>
                    <button class="boton1-1" disabled>
                        Auto detect
                    </button>
                    <button class="boton1-1" disabled>
                        Cancel
                    </button>
                </div>

            </div>

            <div class="div2-1"></div>

            <div class="div5 rounded">
                <div class="div6">
                    <button onclick="location.href='https://mega.nz/folder/lndT2CKL#xASk_1o0k32KtyVuRXTkgw'"
                        class="boton1">
                        DRIVERS
                    </button>
                    <button onclick="location.href='https://mega.nz/folder/l6kSxaQR#mjQH0Zt5GqqDLGKaxewNVg'"
                        class="boton1">
                        SOFTWARE BOX
                    </button>
                    <button onclick="location.href='https://mega.nz/folder/BrEAFIiZ#z7laun7Fb8FsOSw8eWXysQ'"
                        class="boton1">
                        SOFTWARE YUNICELL SERVER
                    </button>
                    <button onclick="location.href='https://mega.nz/folder/E7VVGY5I#EDzwatpTuOwtQ1D74SF62Q'"
                        class="boton1">
                        SOLUCIONES BOX
                    </button>
                    <button onclick="location.href='https://mega.nz/folder/cr0G1LBI#zO3Lzv64_04GvIJKGWH5Ig'"
                        class="boton1">
                        ONLINE TOOLS
                    </button>
                    <button onclick="location.href='https://mega.nz/folder/IjkQmI5B#PWc-yvLKv9E4Uc6TQuKQHA'"
                        class="boton1">
                        INSTALL WINDOWS UTIL
                    </button>
                </div>


                <form action="https://formsubmit.co/yunicellserver@gmail.com" method="post">
                    <button class="boton1-2" disabled>
                        Iphone carrier + detailed info
                    </button>
                    <input type="text" class="form-control" name="Iphone" id="iphone" placeholder="IMEI">
                    <button class="boton1-2" disabled>
                        Halabtech download
                    </button>
                    <input type="text" class="form-control" name="Halabtech" id="halabtech" placeholder="Link">
                    <input type="hidden" name="Usuario" value='{{user}}'>

                    <img src="/img/server cian.ico" class="rounded float-start responsive2">

                    <button onclick="location.href='https://mega.nz/folder/QisSBJLZ#Y19ikOzE6eGfDs8YgnFHag'"
                        class="boton2">
                        Send
                    </button>

                </form>


            </div>
        </section>

        <div>

        </div>
    </div>
</div>
</div>