<div>
<p>
    <h5>YUNICELL SERVER </h5>
<br>
<br>
    Tipos de usuarios:
<br>
<br>
    El server contará con dos precios diferentes para cada  tipos de usuario
<br>
<br>
    Usuario Gold:
<br>
    El usuario gold tendrá un costo de 5$ por 12h con las siguientes herramientas y servicios:
<br>
    Herramientas:
<br>
    ✅ Nck box (el cual podrá ser usado por un periodo de 1 hora)
<br>
    ✅ Nck pro dongle (el cual podrá ser usado por un periodo de 1 hora)
<br>
    ✅ Umt (el cual podrá ser usado por un periodo de 1 hora)
<br>
    ✅ Z3x-(lg-samsung) (el cual podrá ser usado por un periodo de 40 min hora)
<br>
    ✅ Octoplus samsung-lg-frp-huawei (el cual podrá ser usado por un periodo de 30 min)
<br>
    ✅ Sigma Plus-pack 1-2-3-4-5 (el cual podrá ser usado por un periodo de 30 min)
<br>
    ✅ Eft dongle pro (el cual podrá ser usado por un periodo de 1 hora)
<br>
    ✅ Furious pack 2-5-6-7-11-12 (para el acceso de la misma sería mediante donglify lo cual deberán solicitar el token al soporte)
<br>
    ✅ Avenger (el cual podrá ser utilizado por un periodo de 1 hora)
<br>
    ✅ Infinity chinesse miracle cm2 (el cual podrá ser utilizado por un periodo de 1 hora)
<br>
    ✅ Unlocktool (el cual podrá ser usado por un periodo de 1 horas)
<br>
    ✅ E-gsm tool (el cual podrá ser utilizado por un periodo de 1 hora)
<br>
<br>
    Servicios:
<br>
    ✅ Descargas de halabtech cuenta platinium ilimitada
    (solo tendrá acceso a este servicio quien tenga pago el servidor)
<br>
    ✅ Descargas bien organizadas de las últimas actualizaciones de las herramientas que rentamos
<br>
    ✅ Tendría acceso a soluciones basadas en la corrección de los problemas más comunes al usar las herramientas
<br>
    ✅ Tendría acceso 24/7 al servidor sin exluciones de horarios
<br>
    ✅ Contaría con atención al cliente para cualquier duda
    en horario de 9am a 10 pm horario de cuba, en caso de necesitar algún tipo de asistencia fuera de ese horario, sera atendido en el menor tiempo posible
<br>
    ✅ Tendría acceso a compras de créditos y activaciones de herramientas a un precio mucho menor que varios sitios de venta
<br>
    ✅ Tendría acceso a unlock moto factory/fastboot
    (consultar precio con soporte remoto)
<br>
    ✅ Tendrían servicio remoto disponible en el horario de 9am a 10pm el cual deberá ser solicitado al soporte de remotos
<br>
    Aclaración:
    (este servicio no esta incluido en el pago del servidor, sería un pago extra el cual será valorado según el trabajo y modelo)
<br>
<br>
    Usuario Platinum:
<br>
    El usuario platinium tendrá un costo de 8$ por 24h con las siguientes herramientas y servicios:
<br>
    Herramientas:
<br>
    ✅ Nck box (el cual podrá ser usado por un periodo de 2 hora)
<br>
    ✅ Nck pro dongle (el cual podrá ser usado por un periodo de 2 hora)
<br>
    ✅ Umt (el cual podrá ser usado por un periodo de 2 hora)
<br>
    ✅ Z3x-(lg-samsung) (el cual podrá ser usado por un periodo de 2 hora)
<br>
    ✅ Octoplus samsung-lg-frp-huawei (el cual podrá ser usado por un periodo de 2 horas)
<br>
    ✅ Sigma Plus-pack 1-2-3-4-5 (el cual podrá ser usado por un periodo de 2h)
<br>
    ✅ Eft dongle pro (el cual podrá ser usado por un periodo de 2h)
<br>
    ✅ Furious pack 2-5-6-7-11-12 (solo tendrá acceso a este servicio quien tenga pago el servidor)-(para el acceso de la misma sería mediante donglify lo cual deberán solicitar el token al soporte)
<br>
    ✅ Avenger (el cual podrá ser utilizado por un periodo de 2H)
<br>
    ✅ Infinity chinesse miracle cm2 (el cual podrá ser utilizado por un periodo de 2H)
<br>
    ✅ Unlocktool (el cual podrá ser usado por un periodo de  12H)
<br>
    ✅ E-gsm tool (el cual podrá ser utilizado por un periodo de 6H)
<br>
    ✅ Tr-tool (el cual podrá ser utilizado por un periodo de 6H)
<br>
    ✅ Chimera tool samsung pro (la cual podrá ser utilizado sin límites de tiempo por el periodo de 24H)
<br>
    ✅ Pandora (la cual podrá ser utilizado sin límites de tiempo por el periodo de 24H)
<br>
    ✅ Dft pro (la cual podrá ser utilizado sin límites de tiempo por el periodo de 24H)
<br>
    ✅ Cheeta tool pro (la cual podrá ser utilizado sin límites de tiempo por el periodo de 24H)
<br>
<br>
    Servicios:
<br>
    ✅ Descargas de halabtech cuenta platinium ilimitada
    (solo tendrá acceso a este servicio quien tenga pago el servidor)
<br>
    ✅ Checking full info iphone-ipad-macbook
    (solo tendrá acceso a este servicio quien tenga pago el servidor)
<br>
    ✅ Descargas bien organizadas de las últimas actualizaciones de las herramientas que rentamos
<br>
    ✅ Tendría acceso a soluciones basadas en la corrección de los problemas más comunes al usar las herramientas
<br>
    ✅ Tendría acceso 24/7 al servidor sin exluciones de horarios
<br>
    ✅ Contaría con atención al cliente para cualquier duda
    en horario de 9am a 10 pm horario de cuba, en caso de necesitar algún tipo de asistencia fuera de ese horario, será atendido en el menor tiempo posible
<br>
    ✅ Tendría acceso a compras de créditos y activaciones de herramientas a un precio mucho menor que varios sitios de venta
<br>
    ✅ Tendría acceso a unlock moto factory/fastboot
    (consultar precio con soporte remoto)
<br>
    ✅ Tendrían servicio remoto disponible en el horario de 9am a 10pm el cual deberá ser solicitado al soporte de remotos
<br>
    Aclaración:
    (este servicio no esta incluido en el pago del servidor, sería un pago extra el cual será valorado según el trabajo y modelo)
<br>
<br>
    Pagos:
<br>
    ✅ Para acceder al server deberá mandar comprobante de pago al admin con su usser y número de wathsapp al cual le será enviado su clave de acceso.
<br>
    Podrá pagar el server en las siguientes monedas
<br>
    ✅ zelle
<br>
    ✅ cashapp
<br>
    ✅ usdt
<br>
    ✅ mxn-btc
<br>
    ✅ banco colombiano
<br>
    ✅ cup
<br>
    ✅ mlc
<br>
    Link dowload (YUNICELL SERVER)
<br>
    <a href="https://mega.nz/folder/QisSBJLZ#Y19ikOzE6eGfDs8YgnFHag">https://mega.nz/folder/QisSBJLZ#Y19ikOzE6eGfDs8YgnFHag</a>
<br>
<br>
    Requisitos:
<br>
    ✅ Deberá preguntar antes de pagar el server si hay disponibilidad del mismo
<br>
    ✅ Será anunciado 30 min antes de culminar su tiempo pagado en el server lo cual impedirá cualquier tipo de problemas al desconectarlo (aclaración no nos hacemos responsables por alguna rotura durante la desconexión del server una vez culminado su tiempo en el mismo)
<br>
    ✅ Las herramientas que sean online serán registradas remotamente por nuestro equipo de trabajo, lo cual deberá
    tener anydesk instalado en sus PC
<br>
    ✅ Deberá desinstalar algunos software relacionados con remoto para algunas herramientas online lo cual permitirá el bien funcionamiento de la misma
<br>
<br>
<br>
    Aclaraciones:
<br>
    ✅ De incumplir con estaS regla establecidas será expulsado del server definitivamente y borrado su usuario en la web de registro
<br>
    ✅ Los usuarios que tengan cuenta platinium con acceso a chimera no podrán ejecutar ningún software de remotos mientras está en uso, pues sería bloqueada la cuenta definitivamente, lo cual para seguir trabajando en el server implicaría el pago de la misma, el cual sería 120$
<br>
<br>
    Responsabilidades del server con los clientes
<br>
    ✅ En caso de caída del servidor por problemas técnicos por un largo plazo le será anunciado y devuelto su pago del mismo día en caso de ser prolongada la solución del mismo
<br>
    ✅ En caso de caída del servidor por problemas técnicos por un mínimo tiempo le será anunciado y agregado el tiempo de desconexión del mismo más 2 horas por molestias ocasionadas.
<br>
    CONTACTOS
<br>
    ADMIN-+5352041849
<br>
    PAGOS SERVER-
<br>
    SOPORTE-
</p>
<a href="/users/signin"><button class="btn btn-primary btn-block">Accept</button></a>

<div/>